.items {
    max-width: 1160px;
    margin: auto;
}

.items {
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
}
.item {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap:20px;
    margin: 50px 0;
    
}
.item-txt {
    margin-top: 15px;
}
.item-txt h4{
    margin: 0 ;
    padding: 0;
}
.item-txt h4:first-child {
    border-bottom: 2px solid #fe6630;
}
.item-txt h4:last-child {
    color: #fe6630;
}
