#myTitle{
    font-size: 30px;
    font-weight: 500;
    color: orangered;
    margin-bottom: 0%;
}

#firstDiv, #secDiv, #thirdDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#thirdDiv {
    margin-bottom: 20px;
}

#fourthDiv {
    width: fit-content;
    margin: 0 auto;
}

#firstNameDiv, #emailDiv, #passwordDiv {
    width: fit-content;
}

#lastNameDiv, #phoneDiv, #confirmPasswordDiv {
    margin-left: 50px;
    width: fit-content;
}

#inputFirstName, #inputLastName, #inputEmailSignup, #inputPhone, #inputPasswordSignup, #inputConfirmPassword{
    border-radius: 10px;
    color: black;
    width: 180px;
    height: 20px;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}

#inputAddress{
    border-radius: 10px;
    color: black;
    width: 430px;
    height: 75px;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}

#btnSignup{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: orangered;
}

#btnSignupBox, #loginBox{
    text-align: center;
}

#LoginLink{
    color: orangered;
}